@attribute [Route(RouteParameter)]
@attribute [Authorize]
@inherits BasePageComponent

@if (Attributes != null && Attributes.Any())
{
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper Class="px-16 py-10 ma-2" Elevation="4">
            <MudStack Row="true" Spacing="10">
                <MudFileUpload 
                    T="IBrowserFile" 
                    Hidden="false" 
                    InputClass="absolute mud-width-full mud-height-full overflow-hidden z-20" 
                    InputStyle="opacity:0"
                    OnFilesChanged="OnInputFileChanged"
                    Disabled="!CanUpdate">
                    <ActivatorContent>
                        <ContactAvatar @ref="AvatarReference" ReferenceId="@ContactId" Cache="false" MaxDiameter="230" Elevation="10" />
                    </ActivatorContent>
                </MudFileUpload>
                <MudForm Style="width: 100%" Disabled="!CanUpdate">
                    <MudStack Spacing="3">
                        <MudText Typo="Typo.h5">Identificação</MudText>
                        @if (CanUpdate) {
                            <MudAlert Square="true" Severity="MudBlazor.Severity.Info" Variant="Variant.Outlined">
                                Deve ser preenchido com o seu nome completo pois constará nos contratos de prestação de serviços.
                            </MudAlert>
                        }
                        <MudTextField @ref=TitleReference
                            T="string"
                            Placeholder="Titulo"
                            Variant="Variant.Outlined"
                            Required="true" 
                            HelperTextOnFocus="true"
                            RequiredError="O titulo é obrigatório !"                        
                            Adornment="Adornment.Start" 
                            AdornmentIcon="@Icons.Material.Filled.Person" 
                            OnAdornmentClick="@(() => TitleReference.SelectAsync())"
                            HelperText="Ex: Fulano de Tal do Brasil"
                            @bind-Value="@ContactTitle.Value"
                            ReadOnly="!CanUpdate" />

                        <MudTextField @ref=DocumentReference
                            T="string"                            
                            Label="CPF ou CNPJ"
                            Variant="Variant.Text"
                            Clearable="true"
                            Required="false"
                            HelperTextOnFocus="true"
                            Adornment="Adornment.Start"
                            Mask=@(new MudBlazorDocumentMask())
                            AdornmentIcon="@Icons.Material.Filled.Fingerprint"
                            OnAdornmentClick="@(() => DocumentReference.SelectAsync())"
                            HelperText="Ex: 00.000.000/0000-00"
                            Value="@ContactDocument.Value"
                            ValueChanged="OnContactDocumentChanged"
                            ReadOnly="!CanUpdate" />
                    </MudStack>
                </MudForm>
            </MudStack>
            @if (HeaderChanged)
            {
                <MudDivider></MudDivider>
                <div class="mud-width-full d-flex justify-end">
                    <MudButton Class="ma-3" Variant="Variant.Outlined" Color="Color.Warning" OnClick="Save">Atualizar</MudButton>
                </div>

            }
        </MudPaper>
    </MudContainer>
}