@attribute [Route(RouteParameter)]
@attribute [Authorize]
@inherits MonitorTelephonyBasePageComponent 

<MudContainer Class="mt-5">
    <MudCard Class="pa-3">
        <MudCardHeader>
            <MudText Typo="Typo.h6">Configurações de serviço</MudText>
            <MudSpacer></MudSpacer>
            <MudStack Justify="Justify.FlexEnd" Row="true" Spacing="0">
                @if (EPService.IsTrying)
                {
                    <MudButton OnClick="() => EPService.StopAsync(System.Threading.CancellationToken.None)">
                        <MudProgressCircular Color="Color.Default" Size="Size.Small" Indeterminate="true" />
                    </MudButton>
                }
                else if (EPService.IsConnected)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.SettingsPower" Color="Color.Error" OnClick="() => EPService.StopAsync(System.Threading.CancellationToken.None)"></MudIconButton>
                }  
                else
                {
                    <MudIconButton Icon="@Icons.Material.Filled.SettingsPower" Color="Color.Default" OnClick="OnStartClicked"></MudIconButton>
                }
                @if (EPService.IsConfigured)
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Success"></MudIconButton>
                } 
                else
                {
                    <MudIconButton Icon="@Icons.Material.Filled.Settings" Color="Color.Warning"></MudIconButton>
                }
            </MudStack>
        </MudCardHeader>
        <MudCardContent>
            <MudForm>
                <MudField Label="Endereço: (Uri)">
                    <MudText>@EPService.EndPoint</MudText>
                </MudField>

                <MudField Label="Estado de conexão:">
                    <MudText>@EPService.State</MudText>
                </MudField>

                <MudField Label="Estado da tarefa de execução:">
                    <MudText>@EPService.Status</MudText>
                </MudField>

                @if(Exception != null)
                {
                    <MudField Label="Ultimo erro:">
                        <MudText>@Exception.GetType()</MudText>
                        <MudText>@Exception.Message</MudText>
                    </MudField>
                    
                }
            </MudForm>
        </MudCardContent>
    </MudCard>
    @if (UserOptions != null)
    {
        <MudDivider Class="my-5"></MudDivider>
        <MudCard Class="pa-3">
            <div class="row">
                <div class="col-12 col-md-6 col-xl-4 position-relative">
                    <div class="card card-plain h-100">
                        <div class="card-header pb-0 p-3">
                            <h6 class="mb-0">Preferências do usuário</h6>
                        </div>
                        <div class="card-body p-3">
                            <h6 class="text-uppercase text-body text-xs font-weight-bolder">Account</h6>
                            <ul class="list-group">
                                <li class="list-group-item border-0 px-0">
                                    <div class="form-check form-switch ps-0 is-filled">
                                        <MudCheckBox T="bool" Checked="@UserOptions.ShowTrunks" CheckedChanged="OnCheckBoxChanged"></MudCheckBox>
                                        <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Exibir troncos</label>
                                    </div>
                                </li>
                                <li class="list-group-item border-0 px-0">
                                    <div class="input-group input-group-outline my-1">
                                        <label class="form-label">Maximo de botões a exibir</label>
                                        <input type="number" class="form-control">
                                    </div>
                                </li>
                                <li class="list-group-item border-0 px-0">
                                    <div class="input-group input-group-outline my-1">
                                        <label class="form-label">Taxa de atualização em mili-segundos</label>
                                        <input type="number" class="form-control">
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="vertical dark">
                </div>
            </div>
        </MudCard>
    }
</MudContainer>