@attribute [Route(RouteParameter)]
@inherits MonitorTelephonyBasePageComponent 
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Options
@using Sufficit.Blazor.Client.Pages.Telephony
@using Sufficit.Client
@using Sufficit.Telephony
@using Sufficit.Blazor.Client.Models

@if (ErrorConfig != null)
{
    <div class="alert alert-danger mb-0 m-3">
        <h4 class="alert-heading">Erro interno !</h4>
        <p>@ErrorConfig.GetType(): <small>@ErrorConfig.Message</small></p>
    </div>
}

<MudContainer Class="mt-5">
    <MudTextField T="string" @bind-Value="@Filter" TextChanged="OnTextChanged" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" Immediate="true" Label="Pesquisar" Variant="Variant.Outlined" FullWidth="true" AutoFocus="true" />
    <MudDivider DividerType="DividerType.Middle" Style="margin: 1rem;" />

    <MudCard>
        <MudCardHeader>
            <MudText Typo="Typo.h5">
                Monitoramento de eventos
                <MudText Typo="Typo.body2">Filtrar eventos em tempo real</MudText>
            </MudText>
        </MudCardHeader>

        @if (!EPService.IsConnected)
        {
            <MudText>Serviço de painel de eventos não conectado.</MudText>           
        }

        @if (Items.Any())
        {
            <EventsData Items="@Items.Reverse()"></EventsData>
        }
    </MudCard>
</MudContainer>