@page "/pages/telephony/checkup/outboundroutes"
@inherits TelephonyBasePageComponent 

@if (ClientSearchVisible)
{
    <div class="card card-frame">
        <div class="card-header pb-0 p-3">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="mb-0">Pesquisando clientes de telefonia</h6>
                </div>
                <div class="col-md-6 d-flex justify-content-end align-items-center">
                    <i class="material-icons me-2 text-lg">date_range</i>
                    <small>@DateTime.Now</small>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <ClientList Limit="3" SelectedItemChanged="(item) => OnClientSelect(item.Id)"></ClientList>
            </div>
        </div>
    </div>
    <hr class="dark horizontal" />
}

<hr class="dark horizontal" />
<div class="card card-frame">
    <div class="card-header pb-0 p-3">
        <div class="row">
            <div class="col-md-6">
                <h6 class="mb-0">Teste</h6>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <i class="material-icons me-2 text-lg">date_range</i>
                <small>23 - 30 March 2021</small>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                @DateTime.Now
                <hr class="dark horizontal" />
                Estado da conexão: @WSClient.State
            </div>
        </div>
    </div>
</div>
<hr class="dark horizontal" />
<div class="card card-frame">
    <div class="card-body">
        <div class="row">
        
           <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <td class="center aligned">Horário</td>
                            <td class="center aligned">Severidade</td>
                            <td class="center aligned">Mensagem</td>
                        </tr>
                    </thead>                             
                    <tbody>
                        @foreach(var item in Infos)
                        {
                            <tr>
                                <td>@item.Timestamp.ToLocalTime()</td>
                                <td>@item.Level</td>
                                <td>@item.Message</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>