@page "/pages/telephony/ivr/dashboard"
@attribute [Authorize]
@inherits TelephonyBasePageComponent 

<MudGrid>
    <MudItem xs="12">    
            @if(ContextView.ContextId == Guid.Empty)
            {
                <MudPaper Elevation="0" Style="background-color: transparent;" Class="pa-16 ma-2 d-flex align-center justify-center mud-width-full">
                    <ClientMissing></ClientMissing>
                </MudPaper>
            } else {
                <div class="card p-4">
                    <p class="text-sm ms-auto mb-0 text-capitalize">@DateTime.Now</p>
                    <div class="card-body">
                        <div class="row">
                            @if (Items != null)
                            {
                                <Table class="table table-flush dataTable-table" id="datatable-search">
                                    <thead class="thead-light">
                                        <tr>
                                            <th></th>
                                            <th>Extensão</th>
                                            <th>Titulo</th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Item in Items.OrderBy(s => s.Extension).ThenBy(s => s.Title))
                                        {
                                            <DataRow>
                                                <td>
                                                    <NavigationButton ToolTipDescription='Modificar' CssClass="btn-outline-dark p-2 m-0" Navigation='@("/pages/telephony/ivr?id=" + Item.Id)'>
                                                        <Icon Key="edit"></Icon>
                                                    </NavigationButton>
                                                </td>
                                                <td class="text-sm font-weight-normal">@Item.Extension</td>
                                                <td class="text-sm font-weight-normal">@Item.Title</td>
                                                <td class="text-sm font-weight-normal text-end">             
                                                    @if (Item.CanSkipAnnouncement)
                                                    {
                                                        <Button Icon="skip_next" ToolTipDescription="Ao escolher cancela o áudio !" ToolTipPosition="UI.Material.ToolTipPosition.LEFT_CENTER" CssClass="p-2 text-success"></Button>
                                                    } else
                                                    {
                                                        <Button Icon="play" ToolTipDescription="Deve ouvir a saudação até o final" ToolTipPosition="UI.Material.ToolTipPosition.LEFT_CENTER" CssClass="p-2 text-danger"></Button>
                                                    }
                                                    @if (Item.DirectDial)
                                                    {
                                                        <Button Icon="person" ToolTipDescription="Permite discar para ramais" ToolTipPosition="UI.Material.ToolTipPosition.LEFT_CENTER" CssClass="p-2 text-success"></Button>
                                                    } else
                                                    {
                                                        <Button Icon="person_off" ToolTipDescription="Não permite discar para ramais" ToolTipPosition="UI.Material.ToolTipPosition.LEFT_CENTER" CssClass="p-2 text-danger"></Button>
                                                    }
                                                    <Button Icon="calendar_today" ToolTipDescription='@("Última alteração: " + Item.Update.ToString())' ToolTipPosition="UI.Material.ToolTipPosition.LEFT_CENTER" CssClass="p-2"></Button>
                                                </td>
                                                <td>
                                                    <LinkButton Navigation='@("https://www.sufficit.com.br/telefonia/relatorios/enquetes?IDEnquete=" + Item.Id)' Target="UI.Material.AnchorTarget.BLANK">
                                                        <Icon Key="leaderboard"></Icon>
                                                    </LinkButton>
                                                </td>
                                            </DataRow>
                                        }                                
                                    </tbody>
                                </Table>
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="text-end">
                            <IconButton Icon="refresh" OnClick="GetItems" CssClass="btn-outline-secondary mb-0 ms-2" ToolTipDescription="Atualizar"></IconButton>
                            <NavigationButton Navigation="/pages/telephony/ivr" CssClass="bg-gradient-secondary mb-0 ms-2" Text="Nova IVR/Menu"></NavigationButton>
                        </div>
                    </div>    
                </div>
            }
    </MudItem>
</MudGrid>