@page "/pages/telephony/ivr"
@attribute [Authorize]
@inherits TelephonyBasePageComponent 

@if(Item != null) {
    <Properties Item="@Item"></Properties>
    <MudCard Class="ma-2" Elevation="25">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Opções de discagem</MudText>
                <MudText Typo="Typo.body2">Aqui segue uma listagem das possíveis interações que o cliente poderá executar.</MudText>
            </CardHeaderContent>
        </MudCardHeader>
        <MudDivider DividerType="DividerType.Middle" Light="true"></MudDivider>
        <MudCardContent>
            @if (IVROptions != null)
            {
                <MudStack Spacing="2">
                    @foreach (var option in IVROptions)
                    {
                        <MudPaper Elevation="0" Style="padding: 1rem; background-color: #f5f5f540">
                            <MudGrid>
                                <MudItem xs="12" sm="6" md="1" Style="min-width: 90px">
                                    <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Mask="@(new PatternMask("000"))" Immediate="true" Label="Dígito" @bind-Value="@option.Digits" Counter="3"></MudTextField>
                                </MudItem>
                                <MudItem xs="12" sm="6" md="4">
                                    <IDestinationSearch ContextId="@ContextView?.ContextId" Asterisk="@option.DstAsterisk" ValueChanged="@((value) => option.DstAsterisk = value?.Asterisk)"></IDestinationSearch>
                                </MudItem>
                                <MudItem xs="12" sm="6" md="4">
                                    <MudTextField Margin="Margin.Dense" Variant="Variant.Outlined" Counter="50" MaxLength="50" Immediate="true" Label="Titulo (Opcional)" @bind-Value="@option.Title" HelperText="Identificação dessa escolha nos relatórios e gráficos"></MudTextField>
                                </MudItem>
                                <MudItem xs="12" sm="6" md="1">
                                    <MudIconButton Variant="Variant.Text" DisableElevation="true" Style="display: flex;" Class="px-3" Icon="@Icons.Material.Outlined.DeleteOutline" OnClick="(_) => DelOption(option)"></MudIconButton>                                
                                </MudItem>
                            </MudGrid>
                        </MudPaper>
                        <MudDivider DividerType="DividerType.Middle" Light="true"></MudDivider>
                    }
                </MudStack>
            }
        </MudCardContent>        
        <MudCardActions Class="justify-end p-3">
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="mb-0 ms-2" StartIcon="@Icons.Material.Outlined.Save" OnClick="NewOption">Nova opção de discagem</MudButton>
        </MudCardActions>
    </MudCard>
    <MudCard Class="ma-2" Elevation="25">
        <MudCardHeader>
            <CardHeaderContent>
                <MudText Typo="Typo.h6">Publicar alterações</MudText>
                <MudText Typo="Typo.body2">Vamos salvar essa bagaça pra atualizar a central e por pra rodar.</MudText>
            </CardHeaderContent>
            <CardHeaderActions>
                <MudButton Color="@Color.Secondary" Variant="Variant.Outlined" StartIcon="@Icons.Material.Outlined.Clear" Disabled="true">Cancelar</MudButton>
                <MudButton Color="@Color.Primary" Variant="Variant.Filled" StartIcon="@Icons.Material.Outlined.Save" OnClick="Save">Salvar</MudButton>
            </CardHeaderActions>
        </MudCardHeader>
    </MudCard>
}
else {
    @if(ObjectId != Guid.Empty) {
        <div class="card mt-4">
            <div class="card-header pb-3">
                <h5>Recuperando informações</h5>
                <p class="text-sm">Aguarde enquanto recuperamos o objeto desejado ...</p>
            </div>
        </div>
    } else {
        <ClientMissing></ClientMissing>
    }
}