@page "/pages/telephony/webphone"
@inherits TelephonyBasePageComponent 
@using Sufficit.Blazor.Client.Components.WebPhone

<MudStack Style="display:flex; flex-flow:column; flex:1; padding:6">
    <MudStack Style="flex:none">
        <MudText Typo="Typo.h3"><span>Estado: </span> @JsSIPService.Status</MudText>
        <MudText Typo="Typo.h6"><span>Session Key: </span> @WebRTCKey</MudText>
    </MudStack>
    JsSIP Version: @JsSIPVersion
    @if (Testing != null) 
    {
        <MudText Typo="Typo.h6"><span>Testing Success: </span> @Testing.Success</MudText>
        <MudText Typo="Typo.h6"><span>Testing Message: </span> @Testing.Message</MudText>
    }
    <MudDivider />

    <MudTabs Outlined="true"
             Position="Position.Left"
             Rounded="true"
             Border="true"
             ActivePanelIndex="0"
             PanelClass="pa-6"
             TabPanelClass="pa-6"
             ApplyEffectsToContainer="true"
             Style="background:white; flex:1; min-height:500px;">
        <MudTabPanel Icon="@Icons.Material.Filled.Dialpad" Text="Keypad">
            @if (CallSession != null)
            {
                <Dialog PhoneNumber="@PhoneNumber" CallSession="@CallSession" />
            }
            else
            {
                <Keypad CallStart=@CallStart CanOriginate="@CanOriginate" />
            }
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.PhoneAndroid" Text="Device" Style="text-align:left">
            <Device MediaDevices="@MediaDevices"
                    AudioInputDevices="@AudioInputDevices"
                    AudioOutputDevices="@AudioOutputDevices"
                    VideoInputDevices="@VideoInputDevices"
                    JsSIPService="@JsSIPService"
                    SessionKey="@WebRTCKey.ToString()" />
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.PhoneCallback" Text="Call Log">
            <CallLog JsSIPService="@JsSIPService" />
        </MudTabPanel>        
        <MudTabPanel Icon="@Icons.Material.Filled.Settings" Text="Settings">
            <Settings Service="@JsSIPService" />
        </MudTabPanel>
    </MudTabs>
</MudStack>