@page "/pages/telephony/webphone"
@inherits TelephonyBasePageComponent 

<MudStack Style="display:flex; flex-flow:column; min-height:100%; padding:6">
    <MudStack Style="flex:none">
        <MudText Typo="Typo.h3"><span>Estado: </span> @JsSIPService.Status</MudText>
        <MudText Typo="Typo.h6"><span>Session Key: </span> @WebRTCKey</MudText>
    </MudStack>

    <MudDivider />

    <MudTabs Outlined="true"
             Position="Position.Left"
             Rounded="true"
             Border="true"
             PanelClass="pa-6"
             TabPanelClass="pa-6"
             ApplyEffectsToContainer="true"
             Style="background:white">
        <MudTabPanel Icon="@Icons.Material.Filled.PhoneAndroid" Text="Device" Style="text-align:left">
            <Device AudioInputDevices="@AudioInputDevices"
                    AudioOutputDevices="@AudioOutputDevices"
                    VideoInputDevices="@VideoInputDevices"
                    JsSIPService="@JsSIPService" />
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.PhoneCallback" Text="Call Log">
            <CallLog JsSIPService="@JsSIPService" />
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Dialpad" Text="Keypad">
            <Keypad VideoCall="VideoCall" />
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Settings" Text="Settings">
            <Settings />
        </MudTabPanel>
    </MudTabs>
</MudStack>




