@inherits MudBaseSelectItem
<div @attributes="UserAttributes" class="@Classname" disabled="@Disabled" style="@Style">
    @if (!OnClick.HasDelegate && Command == null)
    {
        <NavLink @onclick="@HandleNavigation"
             class="@LinkClassname"
             @attributes="@Attributes"
             Match="@Match"
             ActiveClass="active">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <MudIcon Icon="@Icon" Color="@IconColor" Class="@IconClassname" />
            }
            else if (IconAsAvatar)
            {
                <MudAvatar Color="@IconColor" Class="@IconClassname" Size="Size.Small" Variant="Variant.Outlined">@GetInitials()</MudAvatar>
            }
            <div class="mud-nav-link-text">
                @Title
                @ChildContent
            </div>
        </NavLink>
    }
    else
    {
        <NavLink @onclick="OnClickHandler"
         class="@LinkClassname"
         ActiveClass="active">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <MudIcon Icon="@Icon" Color="@IconColor" Class="@IconClassname" />
            }
            else if (IconAsAvatar)
            {
                <MudAvatar Color="@IconColor" Class="@IconClassname" Size="Size.Small" Variant="Variant.Outlined">@GetInitials()</MudAvatar>
            }
            <div Class="mud-nav-link-text">
                @Title
                @ChildContent
            </div>
        </NavLink>
    }
</div>