<div class="row m-0 text-nowrap">
    <div class="col-2 p-0">
        <Icon Key="info" Size="UI.Material.ComponentSize.Small"></Icon>
    </div>
    <div class="col-7 px-1" data-tooltip="@Channel.Id">
        <small class="text-xs">@Channel.State</small>
    </div>
    @if (@Channel.Hangup != null && false)
    {
        <div class="col-3" data-tooltip="@Channel.Hangup?.Description">
            @Channel.Hangup?.Code
        </div>
    }
    <div class="col-3">            
        <PeerCardChannelTimespan Channel="@Channel"></PeerCardChannelTimespan>
    </div>
</div>