@page "/pages/identity/policies"

<div>
    <h3><span>Identity Admin API Status: </span> @Status</h3>
</div>

<hr class="dark horizontal" />
<div class="card card-frame">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">

                <InputGroup CssClass="input-group-outline mb-3">        
                    <Label>Filtro</Label>
                    <TextInput OnChanged="@ValueChanged" />                            
                </InputGroup>

            </div>
        </div>
        <div class="row">
        @if (UsersResponse != null && UsersResponse.Users != null)
        {
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <td>Ações</td>
                            <td class="center aligned">ID</td>
                            <td class="center aligned">Direção</td>
                            <td class="left aligned">Estado</td>
                        </tr>
                    </thead>                             
                    <tbody>
                        @foreach (var user in UsersResponse.Users)
                        {
                            <tr @onclick="async () => await SelectUser(user)">
                                <td>@user.EMail</td>
                                <td>@user.EMailConfirmed</td>
                                <td>@user.UserName</td>
                                <td>@user.LockoutEnd</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } 
        else
        {
            <h6>@UsersMessage</h6>
        }
        </div>
    </div>
</div>


<hr class="dark horizontal" />
<div class="card card-frame">
    <div class="card-body">
        <h5>@UserSelected?.EMail</h5>
        <hr class="dark horizontal" />
        <div class="row">
            <div class="col-md-6">
                <SearchInput CssClass="input-group-outline mb-3" Label="Diretiva" GetItemsHandler="@GetItems"></SearchInput>
            </div>
            <div class="col-md-6">
                <InputGroup CssClass="input-group-outline mb-3">        
                    <Label>Contexto</Label>
                    <TextInput />                            
                </InputGroup>
            </div>
        </div>
        <div class="row">
        @if (UserClaimsResponse != null && UserClaimsResponse.Claims != null && UserClaimsResponse.Claims.Any())
        {
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <td></td>
                            <td class="center aligned"></td>
                            <td class="center aligned"></td>
                        </tr>
                    </thead>                             
                    <tbody>
                        @foreach (var claim in UserClaimsResponse.Claims)
                        {
                            <tr>
                                <td>@claim.ClaimID</td>
                                <td>@claim.ClaimType</td>
                                <td>@claim.ClaimValue</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } 
        else
        {
            <h6>@UserClaimsMessage</h6>
        }
        </div>
    </div>
</div>