@page "/pages/identity/policies"
@inherits BasePageComponent

<div>
    <h3><span>Identity Admin API Status: </span> @Status</h3>
</div>

<hr class="dark horizontal" />
<div class="card card-frame">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <InputGroup CssClass="input-group-outline mb-3">        
                    <Label>Filtro</Label>
                    <TextInput Type="search" OnChanged="@ValueChanged" @ref="textInput" />                            
                </InputGroup>

            </div>
        </div>
        <div class="row">
        @if (UsersResponse != null && UsersResponse.Users != null)
        {
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-left">E-Mail</th>
                            <th class="text-center">Confirmado</th>
                            <th class="text-left">Bloqueado Até</th>
                            <th class="text-center">Ações</th>
                        </tr>
                    </thead>                             
                    <tbody>
                        @foreach (var user in UsersResponse.Users)
                        {
                            <tr>
                                <td class="text-center">
                                    <Button Icon="play_for_work" Size="UI.Material.ComponentSize.Small" Color="UI.Material.ColorKind.Primary" CssClass="container m-0" OnClick="async () => await SelectUser(user, default)">
                                        Selecionar
                                    </Button>
                                </td>
                                <td class="text-left">@user.EMail</td>
                                <td class="text-center">
                                    <a data-tooltip="E-Mail confirmado ?">
                                        <Icon CssClass='@(user.EMailConfirmed ? "text-info" : "text-light")' Key="mail"></Icon>
                                    </a>
                                </td>
                                <td class="text-left">@user.LockoutEnd</td>
                                <td class="text-center">
                                    <Button ToolTipDescription="Resetar a senha" Color="UI.Material.ColorKind.Primary" CssClass="m-0 btn-sm" OnClick="async () => await ConfirmPasswordReset(user, default)">
                                        <Icon Key="password" CssClass="text-sm" />
                                    </Button>
                                    <LinkButton IsDisabled="true" Color="UI.Material.ColorKind.Primary" CssClass="m-0 btn-sm" Navigation="@("pages/identity/profile/" + user.ID)">
                                        <Icon Key="face" CssClass="text-sm" />
                                    </LinkButton>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } 
        else
        {
            <h6>@UsersMessage</h6>
        }
        </div>
    </div>
</div>

<hr class="dark horizontal" />
<div class="card card-frame">
    <div class="card-body">
        <h5>@UserSelected?.EMail</h5>
        <hr class="dark horizontal" />
        <div class="row">
            <div class="col-md-5">
                <SearchInput @ref="InputDirective" CssClass="input-group-outline mb-3" Label="Diretiva" GetItemsHandler="@BIService.GetDirectives"></SearchInput>
            </div>
            <div class="col-md-5">
                <SearchInput @ref="InputContext" CssClass="input-group-outline mb-3" Label="Contexto" GetItemsHandler="@BIService.GetContacts"></SearchInput>
            </div>
            <div class="col-md-2">
                <Button Size="UI.Material.ComponentSize.Small" Icon="add" CssClass="mb-0 bg-gradient-primary" OnClick="@OnAddClick">
                    Adicionar
                </Button>
            </div>
        </div>
        <div class="row">
        @if (UserPolicies != null && UserPolicies.Any())
        {
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <td></td>
                            <td class="center aligned"></td>
                            <td class="center aligned"></td>
                        </tr>
                    </thead>                             
                    <tbody>
                        @foreach (var item in UserPolicies)
                        {
                            <tr>
                                <td>
                                    <Button Size="UI.Material.ComponentSize.Small" Icon="delete_outline" CssClass="mb-0 bg-gradient-primary" OnClick="() => OnDelClick(item.UserClaimId)">
                                        Remover
                                    </Button>
                                </td>
                                <td>@item.Directive.Name</td>
                                <td><Text Value="@GetContactTitle(item.IDContext)" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } 
        else
        {
            <h6>@UserClaimsMessage</h6>
        }
        </div>
    </div>
</div>