@page "/pages/identity/policies"
@inherits BasePageComponent

<div>
    <h3><span>Identity Admin API Status: </span> @Status</h3>
</div>

<hr class="dark horizontal" />
<div class="card card-frame">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <InputGroup CssClass="input-group-outline mb-3">        
                    <Label>Filtro</Label>
                    <TextInput OnChanged="@ValueChanged" @ref="textInput" />                            
                </InputGroup>

            </div>
        </div>
        <div class="row">
        @if (UsersResponse != null && UsersResponse.Users != null)
        {
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <td>Ações</td>
                            <td class="center aligned">ID</td>
                            <td class="center aligned">Direção</td>
                            <td class="left aligned">Estado</td>
                        </tr>
                    </thead>                             
                    <tbody>
                        @foreach (var user in UsersResponse.Users)
                        {
                            <tr @onclick="async () => await SelectUser(user, default)">
                                <td>@user.EMail</td>
                                <td>@user.EMailConfirmed</td>
                                <td>@user.UserName</td>
                                <td>@user.LockoutEnd</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } 
        else
        {
            <h6>@UsersMessage</h6>
        }
        </div>
    </div>
</div>


<hr class="dark horizontal" />
<div class="card card-frame">
    <div class="card-body">
        <h5>@UserSelected?.EMail</h5>
        <hr class="dark horizontal" />
        <div class="row">
            <div class="col-md-5">
                <SearchInput @ref="InputDirective" CssClass="input-group-outline mb-3" Label="Diretiva" GetItemsHandler="@BIService.GetDirectives"></SearchInput>
            </div>
            <div class="col-md-5">
                <SearchInput @ref="InputContext" CssClass="input-group-outline mb-3" Label="Contexto" GetItemsHandler="@BIService.GetContacts"></SearchInput>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-sm bg-gradient-primary mb-0" @onclick="OnAddClick">
                    <i class="material-icons text-white pe-2">add</i> Adicionar
                </button>
            </div>
        </div>
        <div class="row">
        @if (UserPolicies != null && UserPolicies.Any())
        {
            <div class="table-responsive">
                <table class="table align-items-center mb-0">
                    <thead>
                        <tr>
                            <td></td>
                            <td class="center aligned"></td>
                            <td class="center aligned"></td>
                        </tr>
                    </thead>                             
                    <tbody>
                        @foreach (var item in UserPolicies)
                        {
                            <tr>
                                <td>
                                    <button type="button" class="btn btn-sm bg-gradient-primary mb-0" @onclick="() => OnDelClick(item.UserClaimId)"><i class="material-icons text-white pe-2">add</i> Remover</button>
                                </td>
                                <td>@item.Directive.Name</td>
                                <td><Text Value="@GetContactTitle(item.IDContext)" /></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        } 
        else
        {
            <h6>@UserClaimsMessage</h6>
        }
        </div>
    </div>
</div>