@page "/pages/identity/sincronize"
@inherits BasePageComponent

<div class="card">
    <Button OnClick="@ToggleButtonClicked">start/stop processing</Button>
    <center>
        <Text>(@Response?.PageSize) Filtrados / (@Checks.Count) Processados / (@Response?.TotalCount) Encontrados</Text>
    </center>
</div>

<hr class="dark horizontal" />    
<div class="card">
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">ID</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">EMail</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @if (Response?.Users != null)
                {
                    @foreach (var item in Response.Users)
                    {
                        <tr>
                            <td>
                                <div class="d-flex px-2">
                                    @item.ID
                                </div>
                            </td>
                            <td>
                                <div class="d-flex px-2">
                                    @item.EMail
                                </div>
                            </td>
                            <td>
                                <div class="d-flex px-2">
                                    @Checked(item.ID)
                                </div>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>