@page "/pages/identity/userpolicies"
@using System.Security.Claims
@using Sufficit.Identity
@attribute [Authorize]

<div>
    <span>@User.GetType() :: Authenticated: @User.Identity?.IsAuthenticated</span>
</div>
<div>
    <span>Policies: </span> (@User.Policies.Count()) @User.Policies.GetType()
</div>

<hr class="dark horizontal" />   
<div class="card">
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Tipo</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Valor</th>
                <th></th>
            </tr>
            </thead>
            <tbody>                
                @foreach (var userpolicy in User.Claims)
                {
                    <tr>
                        <td>
                            <div class="d-flex px-2">
                                @userpolicy.Type
                            </div>
                        </td>
                        <td>
                            <div class="d-flex px-2">
                                @userpolicy.Value
                            </div>
                        </td>
                    </tr>
                }                
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <div class="table-responsive">
        <table class="table align-items-center mb-0">
            <thead>
            <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Diretiva</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Contexto</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
                @foreach (var userpolicy in User.Policies)
                {
                    <tr>
                        <td>
                            <div class="d-flex px-2">
                                @userpolicy.IDDirective
                            </div>
                        </td>
                        <td>
                            <div class="d-flex px-2">
                                @userpolicy.IDContext
                            </div>
                        </td>
                    </tr>
                }                
            </tbody>
        </table>
    </div>
</div>

@code {
    [CascadingParameter]
    public UserPrincipal User { get; set; } = default!;
}