@attribute [Route(RouteParameter)]
@attribute [Authorize]
@inherits BasePageComponent
@using Sufficit.Client;
@using Sufficit.Sales;
@using Sufficit.Telephony;
@using Sufficit.Blazor.Client.Models;
@using System.Threading;

@if (ContextView.ContextId.GetValueOrDefault() == Guid.Empty)
{
    <MudPaper Elevation="0" Style="background-color: transparent;" Class="px-md-16 py-16 d-flex align-center justify-center mud-width-full">
        <ClientMissing></ClientMissing>
    </MudPaper>
}

@if (!string.IsNullOrWhiteSpace(Error))
{
    <div class="card card-error">@Error</div>
}

<MudCard>
    <MudCardHeader>
        <MudSwitch T="bool" Checked="@ShowExpired" Color="Color.Primary" CheckedChanged="ShowExpiredChanged">Visualizar expirados</MudSwitch>
    </MudCardHeader>
    <MudCardContent>
        <MudTable Items="@Items" Bordered="true" Hover="true" Breakpoint="Breakpoint.Sm" FixedHeader="true" LoadingProgressColor="Color.Info">
            <ColGroup> 
                <col style="min-width: 200px;" />
                <col style="width: 200px;" />
                <col style="width: 120px;" />
                <col style="width: 60px;" />
                <col style="width: 40px;" />
                <col style="width: 60px;" />
            </ColGroup>
            <HeaderContent>
                <MudTh Class="mud-table-cell-align-center">Titulo</MudTh>
                <MudTh Class="mud-table-cell-align-center">Chave</MudTh>
                <MudTh Class="mud-table-cell-align-center">Valor</MudTh>
                <MudTh Class="mud-table-cell-align-center">Vencimento</MudTh>
                <MudTh Class="mud-table-cell-align-center">Dia de Faturamento</MudTh>
                <MudTh Class="mud-table-cell-align-center"></MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Titulo">
                    <MudText Typo="Typo.body1">
                        <MudIcon Icon="@GetIcon(context.Title)" Size="Size.Small" Class="mr-4" Style="vertical-align: sub;"></MudIcon>
                        @context.Title
                    </MudText>
                    @if(context.Extra != null)
                    {
                        <MudDivider Class="mt-1"></MudDivider>
                        <MudText Typo="Typo.caption">@context.Extra</MudText>
                    }
                </MudTd>
                <MudTd DataLabel="Chave">@KeyFormat(context.Key)</MudTd>
                <MudTd DataLabel="Valor">@(context.Value > 0 ? context.Value.ToString("C") : "---")</MudTd>
                <MudTd DataLabel="Vencimento" Class="mud-table-cell-align-center" Style="@GetExpired(context.End)">@(context.End?.ToString("dd/MM/yyyy") ?? "---")</MudTd>
                <MudTd DataLabel="Dia de Faturamento" Class="mud-table-cell-align-center">@context.DueDay</MudTd>
                <MudTd DataLabel="Comandos" Class="mud-table-cell-align-center">
                    <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Info" Size="Size.Small" Href='@("/pages/sales/recurringitem?id=" + context.Id)' />
                </MudTd>
            </RowTemplate>
        </MudTable>
    </MudCardContent>
</MudCard>